# ==========================================
# Virtual Envs
# ==========================================
.venv/
venv/
env/

# ==========================================
# python files
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# venvs and secrets
# ==========================================
.env
*.env
.env.*

# ==========================================
# editor conf
# ==========================================
.vscode/
*.swp

# ==========================================
# SO files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# cache
# ==========================================
.pytest_cache/
.ruff_cache/
.coverage